body {
  background-color: #ffffff;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #98AFC7;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.button {
    position: relative;
    min-width: 100px;
    height: 40px;
    white-space: nowrap;
    cursor: pointer;
    color: white;
    font-family: arial, helvetica, verdana, sans-serif;
    font-size: 11pt;
    line-height: 12pt;
    font-weight: bold;
    font-style: normal;
    border: 0;
    background-color: #42a1dd;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 4px;
}

.button:disabled {
    background: #dddddd;
}

.button:hover {
    background: #004d80;
}

.left {
    float: left;
}

.right {
    float: right;
}


input[type=date]::-webkit-datetime-edit-text {
    color: transparent;
}
input[type=date]::-webkit-datetime-edit-month-field{
    color: transparent;
}
input[type=date]::-webkit-datetime-edit-day-field {
    color: transparent;
}
input[type=date]::-webkit-datetime-edit-year-field {
    color: transparent;
}

/* Include this to make it visible when input is clicked */
input[type=date]:not([value=""])::-webkit-datetime-edit-text{ color: #000; }
input[type=date]:not([value=""])::-webkit-datetime-edit-month-field{ color: #000; }
input[type=date]:not([value=""])::-webkit-datetime-edit-day-field{ color: #000; }
input[type=date]:not([value=""])::-webkit-datetime-edit-year-field{ color: #000; }

.error-text {
    position: relative;
    bottom: 15px;
    font-size: 12px;
    line-height: 12px;
    color: rgb(244, 67, 54);
    margin-top: 10px;
    font-family: Roboto, sans-serif;
}

span.block {
    display:block;
}

.outerDiv {
    display: inline-block;
}

.textFieldInnerDiv, .checkBoxInnerDiv {
    margin: 0;
    padding: 0;
}

.paddingBottomRadio{
   padding-bottom:25px !important;
}

.negativeMarginsRadio {
    margin-left:-10px !important;
    margin-bottom:-15px !important;
}

.negativeMarginTop {
    margin-top:-10px !important;
}

.negativeMarginTopCustom {
    margin-top:-5px !important;
}

.marginLeft {
    margin-left:40px !important;
}

.nonBreakingSpace {
    margin-right:30px !important;
}

.break {
    margin-bottom:15px !important;
}

.doubleBreak {
    margin-bottom:30px !important;
}

.fontFamilyCustom {
    font-family: calibri;
}

.zIndexCustom {
    z-index:0;
}

/*form.hide-submit input[type="submit"] { display: none;}*/

#search-icon {
    fill:grey;
    height: 40px;
    width: 40px;
}

.center {
    display: block;
    text-align: -webkit-center;
}

.center input[type='submit'], input[type='button']  {
    display: inline-block;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    min-height: 40px;
    padding: 0 16px;
    text-align: center;
}
.center input[type='submit']:hover, input[type='button']:hover{
    box-shadow: 0 0 1px 1px #555;
    color: black;
}

a.nav_link:hover {
    cursor: pointer;
    color: black;
}

a.nav_link {
    text-decoration: none;
    color: grey;
}

a.nav_link:hover {
    cursor: pointer;
    color: black;
}